<div class='container'>
	<div>
		<span class='nuetral'>Showing <span class='accent'>{{ results.length }}</span> results for "<span class='accent'>korean language</span>"</span>
	</div>
	<br>
	<div class='row'>	
		<div class='col col5'>
			<ul class='results-list std-list'>
				<li ng-repeat='result in results' class='result' ng-click='getCards(result)' ng-class='result.active ? "active" : ""'>
					<span class='result-title'> {{ result.title }}</span>
				</li>
			</ul>
		</div>
		<div class='col col7'>
			<div class='preview-board'>
				<div ng-hide='preview' class='preview'>Preview Stack</div>
				<div ng-show='preview' class='row' ng-repeat='i in getNumber(rowCt)'>
					<div class='col col4' ng-repeat='n in getNumber(colCt)'>
						<div class='preview-card'>
							{{ previewCards[((i*colCt) - (colCt-n) - 1)].front }}
						</div>
					</div>
					<div class='clearme'></div>
				</div>
			</div>
		</div>
		<div class='clearme'></div>
	</div>
</div>