<div class='container study-grid'>
	<div class='row'>
		<div class='col col5'>
			<div class='question-container'>
				<div class='question'>
					question
				</div>
			</div>
		</div>
		<div class='col col7'>
			<div class='row'>
				<div class='col col12'>
					<div class='option-container'>
						<div class='option option1'>
							Option1
						</div>
					</div>
				</div>
				<div class='clearme'></div>
			</div>
			<div class='row'>
				<div class='col col12'>
					<div class='option-container'>
						<div class='option option2'>
							Option2
						</div>
					</div>
				</div>
				<div class='clearme'></div>
			</div>
			<div class='row'>
				<div class='col col12'>
					<div class='option-container'>
						<div class='option option3'>
							Option3
						</div>
					</div>
				</div>
				<div class='clearme'></div>
			</div>
		</div>
		<div class='clearme'></div>
	</div>
</div>