<div class='container study-grid'>
	<div class='row'>
		<div class='col col1'>
			<div class='score-ct'>
				<div class='align-c'>Score</div>
				<div class='align-c'><span class='amt amt-correct'>{{ amtCorrect }}</span>/<span class='amt amt-asked'>{{ amtAsked }}</span></div>
			</div>
		</div>
		<div class='col col5'>
			<div class='question-container'>
				<div class='question center-me'>
					{{ activeCard.front_text }}
				</div>
			</div>
		</div>
		<div class='col col6'>
			<div ng-repeat='card in optionCards' class='option-container' ng-click='submitAnswer(card)'>
				<div class='option center-me' >
					{{card.back_text}}
				</div>
			</div>
		</div>
		<div class='clearme'></div>
	</div>
</div>