<div class='flipnav-wrapper top-section'>
	<div class='flipnav-content' >
		<div ng-class="view == true ? 'front active' : 'front'">
			<div class="flipnav-inner">
				<h1 class="flipnav-title">{{ title }}</h1>
				<form id="searchbox" action="">
				    <input id="search" type="text" placeholder="Search for stacks..."></input>
				    <button id="submit" ng-click='navigateToSearch()'><i class='fa fa-search'></i></button>
				</form>
				<div class='login-splash'>
					<div ng-if='!userLoggedIn' class='guest-user'>
						<div class='login-splash-title'>Join Now!</div>
						<ul>
							<li class="soc-icon"><i class='fa fa-2x fa-facebook'></i></li>
							<li class="soc-icon"><i class='fa fa-2x fa-google-plus'></i></li>
							<li class="soc-icon" ng-click="openModal('lg')"><i class='fa fa-2x fa-envelope'></i></li>
						</ul>
					</div>
					<div ng-if='userLoggedIn' class='signed-in-user'>

						<!-- Single button -->
					    <div class="btn-group" dropdown is-open="status.isopen">
					      <button type="button" class="btn dropdown-toggle">
					        My Stacks<span class="caret"></span>
					      </button>
					      <ul class="dropdown-menu user-actions-menu" role="menu">
					      	<li ng-repeat='stack in stacks'>
								<button ng-click='setActiveStack(stack)' class='btn btn-transparent' >{{ stack.title }}</button>
					      	</li>
					        <li class="divider"></li>
					        <li><button class='btn btn-transparent' ui-sref='create'>Add New Stack</button></li>
					      </ul>
					    </div>

						<button class='btn btn-transparent' ng-click='logout()'>not <span class='accent'>{{ myService.getUser().username }}?</span></button>
					</div>
				</div>
			</div>
		</div>
		<div ng-class="view == true ? 'back' : 'back active'">
			<div class="flipnav-inner">
				<h1 class="flipnav-title">{{ title }}</h1>
				<form id="searchbox" action="">
				    <input id="search" type="text" placeholder="Search for stacks..."></input>
				    <button id="submit" ui-sref='search'><i class='fa fa-search'></i></button>
				</form>
			</div>
		</div>
	</div>
</div>