<div class='flipnav-wrapper top-section'>
	<div class='flipnav-content' >
		<div ng-class="view == true ? 'front active' : 'front'">
			<div class="flipnav-inner">
				<h1 class="flipnav-title">{{ title }}</h1>
				<form id="searchbox" action="">
				    <input id="search" type="text" placeholder="Search for stacks..."></input>
				    <button id="submit" ui-sref='search'><i class='fa fa-search'></i></button>
				</form>
				<div class='login-splash'>
					<div ng-if='!userLoggedIn' class='guest-user'>
						<div class='login-splash-title'>Join Now!</div>
						<ul>
							<li class="soc-icon"><i class='fa fa-2x fa-facebook'></i></li>
							<li class="soc-icon"><i class='fa fa-2x fa-google-plus'></i></li>
							<li class="soc-icon" ng-click="openModal('lg')"><i class='fa fa-2x fa-envelope'></i></li>
						</ul>
					</div>
					<div ng-if='userLoggedIn' class='signed-in-user'>
						<span>Welcome <span>{{ myService.getUser().username }}</span></span>
						<button ng-click='logout()'>Log me out</button>
					</div>
				</div>
			</div>
		</div>
		<div ng-class="view == true ? 'back' : 'back active'">
			<div class="flipnav-inner">
				<h1 class="flipnav-title">{{ title }}</h1>
				<form id="searchbox" action="">
				    <input id="search" type="text" placeholder="Search for stacks..."></input>
				    <button id="submit" ui-sref='search'><i class='fa fa-search'></i></button>
				</form>
			</div>
		</div>
	</div>
</div>