<div class="modal-header">
    <h3 class="modal-title">Sign Up Now!</h3>
    </div>
    <div class="modal-body">
        <div class='container'>
            <div class='row'>
                <div class='col col6'>first col</div>
                <div class='col col6'>second col</div>
                <div class='clearme'></div>
            </div>
        </div>
    </div>
    <button class='btn btn-primary' ng-click='createUser()'>Create a user</button>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
</div>