.space-me{
	display: inline-block;
	margin: 0px 14px;
}

ul.std-list{

	li{
		margin-bottom: 6px;
		line-height: 1.5;

		font-family: $font-body;
		font-size: 14px;

		&.accent{
			text-align: center;
			color: $color-accent;
		}

		&:hover{
			color: $color-accent;
			cursor: pointer;
		}
	}
}

ul.stack-list{

	li{
		cursor: pointer;
	}
}

div.study-list{
	@include box-sizing;
	
	width: 250px;
	line-height: 1.5;
	padding: 8px;

	&.study-list-exists{
		background-color: $color-nuetral-bg;

		ul.stack-list{
			li{
				font-family: $font-body-bold;
				color: $color-accent-light;
			}
		}
	}
}

/* note some code is in search.scss */
.flip-container {
	perspective: 1000;
	width: 192px;
	height: 100px;

	/* flip the pane when hovered */
	&:hover .flipper{
		transform: rotateY(180deg);
		transition: 0.5s;
	}
	
/* flip speed goes here */
.flipper {
	transition: 0.9s;
	transform-style: preserve-3d;

	position: relative;
	padding: 6px 0px;

	/* hide back of pane during swap */
	.front, .back {
		backface-visibility: hidden;

		position: absolute;
		top: 0;
		left: 0;

		width: 192px;
		height: 100px;
	}

	/* front pane, placed above back */
	.front {
		z-index: 2;
	}

	/* back, initially hidden pane */
	.back {
		transform: rotateY(180deg);
	}
}
}