.flipnav-wrapper{
	perspective: 1000px;
    position: fixed;
    right: 0px;
    height: $header-height;
    width: 100%;
    z-index: 9;

    .flipnav-content{
    	position: relative;
	    height: $header-height;
	    transform: rotateX(0deg) translateZ(-30px);
	    transform-style: preserve-3d;

	    .front.active{
		    transform: rotateX(0) translateZ(30px);
		}

		.back.active{
		    transform: rotateY(0) translateZ(30px);
		}

		.back{
		    transform: rotateX(90deg) translateZ(30px);
		    transition: transform .35s;
		}

		.front{
		    transform: rotateX(-90deg) translateZ(30px);
		    transition: transform .35s;
		}

		.front, .back{
		    position: absolute;
		    left: 0px;
		    right: 0px;
		    height: $header-height;
		    background-image: url("/css/assets/images/header-background.png");
		    background-color: #eaeff2;

		    .flipnav-inner{
		    	position: relative;
		    	height: $header-height;
		    	width: 1100px;
		    	margin: 0px auto;

		    	.login-splash{
		    		@include box-sizing;

					position: absolute;
					top: 0px;
					right: 0px;
					width: 210px;
					padding: 8px;
					border-radius: 0px 0px 4px 4px;

					background-color: $color-main;
					color: $color-white;
					text-align: center;

					.guest-user{

						.login-splash-title{
							padding: 8px;
							font-size: 16pt;
						}
						
						ul{

							.soc-icon{
								display: inline-block;
								padding: 10px 15px;

								color: $color-accent-light;

								&:hover{
									cursor: pointer;
									color: $color-accent;
								}
							}
						}
					}

					.signed-in-user{
						text-align: right;
						font-size: 12px;

						.btn-transparent, .dropdown-toggle{
							vertical-align: baseline;
							line-height: 1;
							font-size: 12px;
						}

						.btn-transparent{
							padding: 0px;
							color: $color-nuetral;
							text-decoration: none;
						}

						.dropdown-toggle{
							padding: 4px 8px;
						}

						.user-actions-menu{

							li{
								text-align: left;
								font-size: 12px;

								a, button{
									color: $color-main;
								}

								button{
									display: block;
									padding: 3px 20px;
									line-height: 1.42857143;
								}
							}
						}
					}
				}

		    	.flipnav-title{
		    		display: inline-block;
		    		vertical-align: top;
		    		width: 340px;
		    		line-height: $header-height;

		    		font-family: Montserrat;
		    		font-size: 24pt;
		    	}

		    	#searchbox{
		    		display: inline-block;
		    		margin: 12px 0px;
		    		background-color: $color-main;
				    border-radius: 5px;    
				    border-width: 1px;
				    border-style: solid;
				    border-color: $color-nuetral;           
				    width: 400px;
				    padding: 2px 3px;
				    overflow: hidden; /* Clear floats */

				    #search, 
					#submit {
					    float: left;
					}

					#search {
					    padding: 4px 6px;
					    width: 344px;
					    border-top: 1px solid $color-main;
					    border-left: 1px solid $color-main;
					    border-bottom: 1px solid $color-main;
					    border-right: 0px solid $color-main;
					    border-radius: 3px 0px 0px 3px;
					    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) inset;      
					    font-family: Arial;
					    min-height: 17px;
					}

					/* ----------------------- */

					#submit
					{       
					    background-color: $color-white;
					    border-radius: 0px 3px 3px 0px; 
					    border-width: 1px;
					    border-style: solid;
					    border-color: $color-main;
					    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
					                0 1px 0 rgba(255, 255, 255, 0.3) inset;
					    padding: 4px 6px;
					    width: 42px;
					    cursor: pointer;
					    color: $color-nuetral;    
					    font-size: 14px;

					    &:hover{
					    	background-color: $color-accent;
					    	color: $color-white;
					    }

					    &:active{
					    	background-color: $color-accent-light;
					    	color: $color-white;
					    	outline: none;
					    	box-shadow: 0 1px 4px rgba(0,0,0,0.5) inset;
					    }
					}

					#submit::-moz-focus-inner {
					       border: 0;  /* Small centering fix for Firefox */
					}
		    	}
		    }
		}

	}

}