.results-list{	
	.result{
		border: 1px solid $color-nuetral;

		&:hover{
			color: $color-accent;
			border-color: $color-accent;

			@include transition(all, 0.1s, ease-in);
		}

		&.active{
			background-color: $color-accent-light;
			border-color: $color-accent;

			.result-title{
				width: 80%;
				@include transition(width, 0.2s, ease-in);
			}

			.study-btn{
				@include transition(width, 0.2s, ease-in);
				width: 20%;
			}

			&:hover{
				color: $color-main;
			}
		}

		.result-title{
			@include box-sizing;
			display: block;
			padding: 10px;

			font-size: 16pt;
		}

		.study-btn{
			height: 53px;
			width: 0px;
			overflow: hidden;

			button{
				height: 100%;
				width: 100%;

				font-size: 18px;
			}
		}
	}
}

.preview-board{
	@include box-sizing;
	padding: 5px 10px;
	position: relative;
	min-height: 500px;

	background-color: $color-nuetral-bg;

	.preview{
		position: absolute;
		top: 235px;
		left: 0px;
		width: 100%;

		color: $color-nuetral;
		text-align: center;
		font-size: 30px;
	}

	.flip-container{
		margin: 7px 0px;

		.front, .back{
			@include box-sizing;
			padding: 6px;
			margin: 5px 0px;
			height: 100px;

			border-radius: 3px;
			background-color: $color-white;
			border: 1px solid $color-nuetral;
		}
	}
}